#bcrypt==3.1.6
bcrypt==5.0.0
#cryptography==2.6.1
#cryptography==3.4.8
cryptography==46.0.3
distro==1.9.0
fastapi==0.115.13
paramiko==2.7.2
psutil==7.0.0
PyJWT==2.10.1
python-multipart==0.0.20
requests==2.32.3
six==1.17.0
uvicorn==0.34.3
websockets==15.0.1
